@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

body {
  background: #ffffff;
  color: #0a0a0a;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

input[type='datetime-local'] {
  color-scheme: light;
}
